.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 25px 20px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  max-width: 220px;
}

.card__like-button {
  background: transparent url("../images/like.svg") no-repeat;
  background-size: contain;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__delete-button {
  background: transparent url("../images/delete.svg") no-repeat;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 18px;
  height: 19.3px;
  border: none;
  padding: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button:hover {
  opacity: 0.6;
}
